.swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #f97316 !important; /* Orange */
  opacity: 1;
}

@media  (max-width:575px) {
.swiper-pagination {
  bottom: 0px !important;
}
    
}